NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element: NationalParks, holds one or more NationalPark elements -->
  <xs:element name="NationalParks" type="NationalParksType"/>

  <xs:complexType name="NationalParksType">
    <xs:sequence>
      <xs:element name="NationalPark" type="NationalParkType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NationalParkType">
    <xs:sequence>
      <!-- Name comes first -->
      <xs:element name="Name" type="xs:string"/>

      <!-- Multiple Phone elements allowed, at least one required -->
      <xs:element name="Phone" type="xs:string" maxOccurs="unbounded"/>

      <!-- Address is its own named complex type -->
      <xs:element name="Address" type="AddressType"/>
    </xs:sequence>
    <!-- Rating is an optional attribute on NationalPark -->
    <xs:attribute name="Rating" type="xs:decimal" use="optional"/>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="Number" type="xs:string"/>
      <xs:element name="Street" type="xs:string"/>
      <xs:element name="City" type="xs:string"/>
      <xs:element name="State" type="xs:string"/>
      <xs:element name="Zip" type="xs:string"/>
    </xs:sequence>
    <!-- NearestAirport is a required attribute on Address -->
    <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
  </xs:complexType>

</xs:schema>
