NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- Root element: NationalParks, holds one or more NationalPark elements -->
  <xsd:element name="NationalParks">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="NationalPark" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <!-- Name comes first -->
              <xsd:element name="Name" type="xsd:string"/>

              <!-- Multiple Phone elements allowed, at least one required -->
              <xsd:element name="Phone" type="xsd:string" maxOccurs="unbounded"/>

              <!-- Address is its own complex element -->
              <xsd:element name="Address">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Number" type="xsd:string"/>
                    <xsd:element name="Street" type="xsd:string"/>
                    <xsd:element name="City" type="xsd:string"/>
                    <xsd:element name="State" type="xsd:string"/>
                    <xsd:element name="Zip" type="xsd:string"/>
                  </xsd:sequence>
                  <!-- NearestAirport is a required attribute on Address -->
                  <xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <!-- Rating is an optional attribute on NationalPark -->
            <xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
